.header {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header img {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    padding-top: 1.5rem;
    cursor: default;
}

.hr1 {
    margin-top: 0.5rem;
    border: 0;
    height: 2px;
    background-image: linear-gradient(to right, transparent, #8e8e8e, transparent);  
}
