@import url('https://allfont.net/allfont.css?fonts=star-jedi');

.movies-list {
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}